.env
.env.*
*.key
credentials.json
client_secret*.json


data/raw/*
data/processed/*
*.jsonl
*.csv
!data/raw/.gitkeep
!data/processed/.gitkeep
!**/sample_*.csv
!**/sample_*.jsonl

__pycache__/
*.pyc
.venv/
venv/
env/
*.egg-info/

outputs/*
!outputs/.gitkeep
.ipynb_checkpoints/

.DS_Store
.vscode/
.idea/
